$icon-flow-path1: "\e900";
$icon-flow-path2: "\e901";
$icon-flow-path3: "\e902";
$icon-flow-path4: "\e903";
$icon-flow-path5: "\e904";
$icon-flow-path6: "\e905";
$icon-flow-path7: "\e906";
$icon-flow-path8: "\e907";
$icon-flow-path9: "\e908";
$icon-flow-path10: "\e909";
$icon-flow-path11: "\e90a";
$icon-flow-path12: "\e90b";
$icon-flow-path13: "\e90c";
$icon-raket-path1: "\e90d";
$icon-raket-path2: "\e90e";
$icon-calendar-path1: "\e90f";
$icon-calendar-path2: "\e910";
$icon-calendar-path3: "\e911";
$icon-calendar-path4: "\e912";
$icon-calendar-path5: "\e913";
$icon-calendar-path6: "\e914";
$icon-calendar-path7: "\e915";
$icon-calendar-path8: "\e916";
$icon-calendar-path9: "\e917";
$icon-calendar-path10: "\e918";
$icon-calendar-path11: "\e919";
$icon-calendar-path12: "\e91a";
$icon-calendar-path13: "\e91b";
$icon-calendar-path14: "\e91c";
$icon-calendar-path15: "\e91d";
$icon-calendar-path16: "\e91e";
$icon-calendar-path17: "\e91f";
$icon-calendar-path18: "\e920";
$icon-calendar-path19: "\e921";
