header {
    @include position($top: 0, $left: 0);
    width: 100%;
    font-size: $fs-lg;
    color: rgba($color-dark, 0.7);
    padding-top: 28px;
    padding-bottom: 28px;
    z-index: 10;

    nav {

        ul {

            li {
               margin-right: 65px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}